/**
font-family: 'Electrolize', sans-serif; - Thinnest font
font-family: 'Aldrich', sans-serif; - Second thinnest font
font-family: 'Sarpanch', sans-serif; - For headers
*/

/**
blackish - #0a0f0d
dark jade - #0b3c49
Maroon - #41292c
Reddish - #d33f49
Flo green - #5dd368
*/

html,
body {
  background-image: linear-gradient(
    to left bottom,
    #41292c,
    #402a36,
    #3b2e40,
    #313247,
    #22374b,
    #1b4559,
    #0e5364,
    #00616b,
    #007e7d,
    #009c82,
    #00b87b,
    #5dd368
  );
  font-family: "Electrolize", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  padding: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sarpanch", sans-serif;
  color: darkgray;
}

hr {
  height: 2px;
  color: #d33f49;
  background-color: #d33f49;
  border: none;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: #5dd368 !important;
  font-family: "Electrolize", sans-serif !important;
}

.nav-link:hover {
  color: #5dd368 !important;
  text-shadow: 1px 1px 15px #d33f49 !important;
}

.toggler {
  background: transparent;
  border: 1px solid darkgray;
  border-radius: 0.25em;
}

.toggler:active,
.toggler:focus {
  outline: none;
}

.fas.fa-bars {
  color: #00b87b !important;
}

@media only screen and (max-width: 575px) {
  .header-nav {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 575px) {
  .toggler {
    visibility: hidden;
  }
}
